## COVID-DW Data Import Preprocessing

In [1]:
import pandas as pd
import numpy as np
import dask.dataframe as dd

### Read COVID Surveillance Data

In [2]:
in_base = "./raw/sample5kk"
in_file = in_base+".csv"
out_file = in_base+".prep.csv"

In [3]:
# set of columns to keep
cols_all = set(pd.read_csv(in_file, nrows=1))
cols_drop = {
    "case_positive_specimen_interval",
    "case_onset_interval",
    "process",
    "ethnicity",
    "symptom_status",
    "exposure_yn",
    "current_status",
    "underlying_conditions_yn"
    }
in_cols_keep = cols_all - cols_drop
print(in_cols_keep)

# set of columns that if value is missing, the record is discarded
in_cols_drop_na = {
    "res_state",
    "sex",
    "age_group",
    "case_month"
    }

# missing values
in_missing = {"Unknown","Missing","nul","Other"}

{'county_fips_code', 'state_fips_code', 'res_county', 'death_yn', 'sex', 'race', 'case_month', 'res_state', 'hosp_yn', 'age_group', 'icu_yn'}

In [4]:
# define col data types
# set all cols to keep to be categorical to improve import speed
in_dtypes = dict.fromkeys(in_cols_keep, "category")

# column to parse as date
# in_cols_date = ["case_month"]
# in_date_parser = pd.to_datetime

#### read raw csv to pandas

In [5]:
my_df = pd.read_csv(
    in_file,
    header=0,
    usecols=in_cols_keep,
    dtype=in_dtypes,
    na_values=in_missing
    )
my_df.shape

(5000000, 11)

In [6]:
# examine the df
for col in my_df.columns:
    print("\n==== " + col + " ====")
    print(my_df[col].value_counts(dropna=False))

==== case_month ====
2022-01    1108488
2021-12     471912
2020-12     434382
2021-01     367371
2020-11     327749
2021-08     274025
2021-09     258084
2021-11     186011
2021-10     171834
2020-10     153727
2021-03     142504
2021-02     142109
2021-04     120131
2020-07     119141
2022-02     110567
2021-07     105218
2020-08      91866
2020-09      88523
2020-06      79084
2021-05      66127
2020-04      62305
2020-05      56013
2021-06      32632
2020-03      29506
2020-02        347
2020-01        344
Name: case_month, dtype: int64

==== res_state ====
CA     701022
NY     385673
FL     259356
IL     239351
PA     215743
OH     208125
NC     201568
NJ     172286
GA     161698
TN     155540
AZ     152058
IN     133606
MA     131286
SC     115332
WA     111241
MN     111063
VA     110486
MO     110158
MI     104377
CO     103078
AL      99494
LA      91072
WI      79340
TX      66927
AR      63942
KS      60650
UT      58518
OR      53834
OK      52721
MD      52210
KY      49412
NV      48070
IA      39622
NM      38436
CT      30993
ID      26945
NE      22259
DE      19659
MT      19513
ND      18651
AK      18049
SD      15779
ME      15430
RI      15226
WY      12220
DC      10562
HI       8711
NH       7480
VT       7439
PR       4805
MS       4549
GU       2215
VI       1322
WV        820
NaN        78
Name: res_state, dtype: int64

==== state_fips_code ====
06     701022
36     385673
12     259356
17     239351
42     215743
39     208125
37     201568
34     172286
13     161698
47     155540
04     152058
18     133606
25     131286
45     115332
53     111241
27     111063
51     110486
29     110158
26     104377
08     103078
01      99494
22      91072
55      79340
48      66927
05      63942
20      60650
49      58518
41      53834
40      52721
24      52210
21      49412
32      48070
19      39622
35      38436
09      30993
16      26945
31      22259
10      19659
30      19513
38      18651
02      18049
46      15779
23      15430
44      15226
56      12220
11      10562
15       8711
33       7480
50       7439
72       4805
28       4549
66       2215
78       1322
54        820
NaN        78
Name: state_fips_code, dtype: int64

==== res_county ====
NaN            336673
LOS ANGELES    218712
MARICOPA        95779
COOK            86663
ORANGE          71587
                ...
HOCKLEY            87
HILL               86
NESHOBA            74
KLEBERG            74
FORREST            71
Name: res_county, Length: 1142, dtype: int64

==== county_fips_code ====
NaN      336673
06037    218712
04013     95779
17031     86663
12086     61438
          ...
48227        82
48341        79
28099        74
48273        74
28035        71
Name: county_fips_code, Length: 1705, dtype: int64

==== age_group ====
18 to 49 years    2588934
50 to 64 years     891430
0 - 17 years       862932
65+ years          558036
NaN                 98668
Name: age_group, dtype: int64

==== sex ====
Female    2547897
Male      2254611
NaN        197492
Name: sex, dtype: int64

==== race ====
White                                     2395265
NaN                                       1849981
Black                                      473019
Asian                                      134552
Multiple/Other                             103651
American Indian/Alaska Native               35751
Native Hawaiian/Other Pacific Islander       7781
Name: race, dtype: int64

==== hosp_yn ====
NaN    3059825
No     1770920
Yes     169255
Name: hosp_yn, dtype: int64

==== icu_yn ====
NaN    4817578
No      168901
Yes      13521
Name: icu_yn, dtype: int64

==== death_yn ====
NaN    3362704
No     1604744
Yes      32552
Name: death_yn, dtype: int64

#### data cleaning

In [7]:
# drop records that have key values missing
my_df.dropna(subset=in_cols_drop_na, inplace=True)

In [8]:
# 1. converter for Yes/No values to boolean
conv_bool = {'Yes': True, 'No': False}
# columns to convert to boolean
cols_bool = {x for x in in_cols_keep if x.endswith("_yn")}

for col in cols_bool:
    my_df[col] = my_df[col].cat.rename_categories(conv_bool)

# 2. converter for specific cols
# conv_symp = {
#     'Symptomatic': True,
#     'Asymptomatic': False
#     }
conv_age = {
    '18 to 49 years': '18-49',
    '50 to 64 years': '50-64',
    '0 - 17 years': '0-17',
    '65+ years': '65+'
    }
conv_race = {
    'Native Hawaiian/Other Pacific Islander':'Native Hawaiian/Pacific Islander'
    }

dict_converter = {
    # 'symptom_status':conv_symp,
    'age_group':conv_age,
    'race':conv_race
    }

for col in dict_converter.keys():
    my_df[col] = my_df[col].cat.rename_categories(dict_converter.get(col))

# 3. convert date (YYYY-MM) to proper format (YYYY-MM-00)
my_df["case_month"] = my_df["case_month"].cat.rename_categories('{}-15'.format)

# 4. convert county fips code to keep county part only
# fill 000 for missing county fips code
my_df["county_fips_code"] = my_df["county_fips_code"].cat.add_categories("000").fillna("000")
# last 3 chars (first 1-2 digits correspond to state fips)
my_df["county_fips_code"] = my_df["county_fips_code"].map(lambda x: x[-3:]).astype('category')

In [9]:
# examine the df
for col in my_df.columns:
    print("\n==== " + col + " ====")
    print(my_df[col].value_counts(dropna=False))

==== case_month ====
2022-01-15    1040252
2021-12-15     454529
2020-12-15     419181
2021-01-15     354297
2020-11-15     316812
2021-08-15     258596
2021-09-15     245704
2021-11-15     177608
2021-10-15     163650
2020-10-15     146880
2021-03-15     136688
2021-02-15     135839
2021-04-15     114593
2020-07-15     112818
2022-02-15     102031
2021-07-15      98317
2020-08-15      86237
2020-09-15      83302
2020-06-15      74501
2021-05-15      61001
2020-04-15      58802
2020-05-15      52092
2021-06-15      28358
2020-03-15      27144
2020-02-15        110
2020-01-15         74
Name: case_month, dtype: int64

==== res_state ====
CA    685308
NY    379138
FL    253788
IL    231456
PA    211563
OH    200611
NC    193563
NJ    169599
GA    153457
AZ    150417
TN    149656
MA    128620
IN    127089
SC    110315
WA    106476
MN    104988
MO    104883
VA    104877
MI     99814
CO     97182
LA     86420
WI     75699
TX     59799
KS     58223
UT     57375
MD     50969
OK     50838
OR     50710
NV     47070
KY     45796
AL     42933
AR     42490
IA     37014
NM     36071
CT     30401
ID     25304
DE     19364
MT     18632
ND     18043
AK     17551
NE     16366
SD     14856
ME     14481
RI     14418
WY     10417
DC     10374
HI      8385
NH      6922
VT      6724
PR      4775
MS      4081
GU      2182
VI      1251
WV       682
Name: res_state, dtype: int64

==== state_fips_code ====
06    685308
36    379138
12    253788
17    231456
42    211563
39    200611
37    193563
34    169599
13    153457
04    150417
47    149656
25    128620
18    127089
45    110315
53    106476
27    104988
29    104883
51    104877
26     99814
08     97182
22     86420
55     75699
48     59799
20     58223
49     57375
24     50969
40     50838
41     50710
32     47070
21     45796
01     42933
05     42490
19     37014
35     36071
09     30401
16     25304
10     19364
30     18632
38     18043
02     17551
31     16366
46     14856
23     14481
44     14418
56     10417
11     10374
15      8385
33      6922
50      6724
72      4775
28      4081
66      2182
78      1251
54       682
Name: state_fips_code, dtype: int64

==== res_county ====
NaN            295451
LOS ANGELES    211909
MARICOPA        95407
COOK            85568
ORANGE          70449
                ...
FORREST            49
NACOGDOCHES        49
TITUS              48
KERR               43
ST. FRANCIS        17
Name: res_county, Length: 1142, dtype: int64

==== county_fips_code ====
000    295451
037    252159
013    169804
031    156860
003    138726
        ...
273        54
347        49
341        48
449        48
265        43
Name: county_fips_code, Length: 212, dtype: int64

==== age_group ====
18-49    2517318
50-64     864647
0-17      828712
65+       538739
Name: age_group, dtype: int64

==== sex ====
Female    2518799
Male      2230617
Name: sex, dtype: int64

==== race ====
White                               2353982
NaN                                 1657027
Black                                459888
Asian                                133591
Multiple/Other                       101546
American Indian/Alaska Native         35635
Native Hawaiian/Pacific Islander       7747
Name: race, dtype: int64

==== hosp_yn ====
NaN      2894212
False    1693227
True      161977
Name: hosp_yn, dtype: int64

==== icu_yn ====
NaN      4574661
False     162011
True       12744
Name: icu_yn, dtype: int64

==== death_yn ====
NaN      3164324
False    1552729
True       32363
Name: death_yn, dtype: int64

In [10]:
# rename cols properly
in_cols_rename = {
    'case_month':'month',
    'res_state':'state',
    'state_fips_code':'state_id',
    'res_county':'county',
    'county_fips_code':'county_id',
    'age_group':'age',
    'symptom_status':'symptom',
    'hosp_yn':'hosp',
    'icu_yn':'icu',
    'death_yn':'death'
}

my_df.rename(columns=in_cols_rename,inplace=True)

#### split into individual tables

In [11]:
# create demography primary key field from the related fields
# first merge related fields to get a tuple
tup = my_df["age"].str.cat(my_df["sex"],na_rep="NaN").str.cat(my_df["race"],na_rep="NaN")
# factorize the tuple to get the new primary key
my_df['demography_id'] = pd.factorize( tup )[0]

# create outcome primary key from related fields
tup = my_df["hosp"].astype(str).str.cat(my_df["icu"].astype(str),na_rep="NaN").str.cat(my_df["death"].astype(str),na_rep="NaN")
# factorize the tuple to get the new primary key
my_df['outcome_id'] = pd.factorize( tup )[0]

# create location primary key by concat state_id & county_id
my_df['location_id'] = my_df['state_id'].astype(str) + my_df['county_id'].astype(str)
my_df['location_id'] = my_df['location_id'].astype('category')

In [12]:
# split the data df to individual dfs for exporting to mysql
df_loc = my_df[['location_id','state_id','county_id','county','state']].drop_duplicates(ignore_index=True)
df_demogr = my_df[['demography_id','age','sex','race']].drop_duplicates().sort_values(['age','sex','race'],ignore_index=True)
df_outcome = my_df[['outcome_id','hosp','icu','death']].drop_duplicates().sort_values(['hosp','icu','death'],ignore_index=True)
df_case = my_df.drop(['county','county_id','state','state_id','age','sex','race','hosp','icu','death'],axis=1)

In [13]:
# convert outcome fields into aggregated score for each type of outcome
dict_outcome_score = {
    'hosp':1,
    'icu':2,
    'death':3
}

for col in dict_outcome_score.keys():
    df_outcome[col] = df_outcome[col].cat.codes

df_outcome['score'] = df_outcome[dict_outcome_score.keys()].mul(dict_outcome_score).max(axis=1)

In [14]:
df_outcome.head()

   outcome_id  hosp  icu  death  score
0           4     0    0      0      0
1          20     0    0      1      3
2           5     0    0     -1      0
3          19     0    1      0      2
4          23     0    1      1      3

In [15]:
df_demogr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   demography_id  56 non-null     int64
 1   age            56 non-null     category
 2   sex            56 non-null     category
 3   race           48 non-null     category
dtypes: category(3), int64(1)
memory usage: 1.3 KB

In [16]:
for col in my_df.columns:
    print("\n==== " + col + " ====")
    print(my_df[col].value_counts(dropna=False))

==== month ====
2022-01-15    1040252
2021-12-15     454529
2020-12-15     419181
2021-01-15     354297
2020-11-15     316812
2021-08-15     258596
2021-09-15     245704
2021-11-15     177608
2021-10-15     163650
2020-10-15     146880
2021-03-15     136688
2021-02-15     135839
2021-04-15     114593
2020-07-15     112818
2022-02-15     102031
2021-07-15      98317
2020-08-15      86237
2020-09-15      83302
2020-06-15      74501
2021-05-15      61001
2020-04-15      58802
2020-05-15      52092
2021-06-15      28358
2020-03-15      27144
2020-02-15        110
2020-01-15         74
Name: month, dtype: int64

==== state ====
CA    685308
NY    379138
FL    253788
IL    231456
PA    211563
OH    200611
NC    193563
NJ    169599
GA    153457
AZ    150417
TN    149656
MA    128620
IN    127089
SC    110315
WA    106476
MN    104988
MO    104883
VA    104877
MI     99814
CO     97182
LA     86420
WI     75699
TX     59799
KS     58223
UT     57375
MD     50969
OK     50838
OR     50710
NV     47070
KY     45796
AL     42933
AR     42490
IA     37014
NM     36071
CT     30401
ID     25304
DE     19364
MT     18632
ND     18043
AK     17551
NE     16366
SD     14856
ME     14481
RI     14418
WY     10417
DC     10374
HI      8385
NH      6922
VT      6724
PR      4775
MS      4081
GU      2182
VI      1251
WV       682
Name: state, dtype: int64

==== state_id ====
06    685308
36    379138
12    253788
17    231456
42    211563
39    200611
37    193563
34    169599
13    153457
04    150417
47    149656
25    128620
18    127089
45    110315
53    106476
27    104988
29    104883
51    104877
26     99814
08     97182
22     86420
55     75699
48     59799
20     58223
49     57375
24     50969
40     50838
41     50710
32     47070
21     45796
01     42933
05     42490
19     37014
35     36071
09     30401
16     25304
10     19364
30     18632
38     18043
02     17551
31     16366
46     14856
23     14481
44     14418
56     10417
11     10374
15      8385
33      6922
50      6724
72      4775
28      4081
66      2182
78      1251
54       682
Name: state_id, dtype: int64

==== county ====
NaN            295451
LOS ANGELES    211909
MARICOPA        95407
COOK            85568
ORANGE          70449
                ...
FORREST            49
NACOGDOCHES        49
TITUS              48
KERR               43
ST. FRANCIS        17
Name: county, Length: 1142, dtype: int64

==== county_id ====
000    295451
037    252159
013    169804
031    156860
003    138726
        ...
273        54
347        49
341        48
449        48
265        43
Name: county_id, Length: 212, dtype: int64

==== age ====
18-49    2517318
50-64     864647
0-17      828712
65+       538739
Name: age, dtype: int64

==== sex ====
Female    2518799
Male      2230617
Name: sex, dtype: int64

==== race ====
White                               2353982
NaN                                 1657027
Black                                459888
Asian                                133591
Multiple/Other                       101546
American Indian/Alaska Native         35635
Native Hawaiian/Pacific Islander       7747
Name: race, dtype: int64

==== hosp ====
NaN      2894212
False    1693227
True      161977
Name: hosp, dtype: int64

==== icu ====
NaN      4574661
False     162011
True       12744
Name: icu, dtype: int64

==== death ====
NaN      3164324
False    1552729
True       32363
Name: death, dtype: int64

==== demography_id ====
3     656292
0     535677
2     461976
7     433347
8     239285
15    218785
12    187972
20    184332
27    177570
13    160660
9     159152
11    154069
5     153645
1     150322
10    141215
4     107210
14     82300
16     68055
28     43936
22     43160
18     42239
19     42176
6      37595
25     33071
24     32331
17     29106
23     22708
34     15679
39     11555
36     11520
21     11027
38     10798
32     10683
40      9556
44      9432
33      9114
30      6779
43      6602
47      5251
37      4694
26      4098
35      4024
31      3368
52      2901
49      2611
50      2604
29      2481
45      1996
41      1123
48       757
46       679
42       640
53       483
51       433
54       189
55       153
Name: demography_id, dtype: int64

==== outcome_id ====
0     2287878
1      799366
2      754874
3      591604
4      104569
7       71704
11      42165
5       29228
14      13221
12      10541
13      10347
15       9255
9        6736
10       4594
6        3406
8        3278
17       2421
16       2167
18       1436
20        415
19         90
21         85
22         30
23          6
Name: outcome_id, dtype: int64

==== location_id ====
06037    211909
04013     95407
17031     85568
12086     61097
06073     60600
          ...
48227        46
48265        43
33000        20
05123        17
44000         6
Name: location_id, Length: 1758, dtype: int64

### Integrate Supplmeental Data
Integrate data from other sources

In [17]:
# input variables
in_population = "./raw/us-county-population-est2020.csv"
in_poverty = "./raw/us-county-poverty-est2020.csv"

#### county population data

In [18]:
cols_pop_name = {
    'STATE':'state_id',
    'COUNTY':'county_id',
    'POPESTIMATE2020':'population'
}
df_pop = pd.read_csv(
    in_population,
    header=0,
    usecols=cols_pop_name.keys(),
    dtype=str
    )
df_pop.rename(columns=cols_pop_name,inplace=True)
cols_pop_type = {
    'population':int
}
df_pop = df_pop.astype(cols_pop_type)
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state_id    3194 non-null   object
 1   county_id   3194 non-null   object
 2   population  3194 non-null   int64
dtypes: int64(1), object(2)
memory usage: 75.0+ KB

#### county poverty data

In [19]:
cols_pov_name = {
    'State FIPS Code':'state_id',
    'County FIPS Code':'county_id',
    'Poverty Estimate, All Ages':'poverty',
    'Median Household Income':'median_household_income'
}
cols_pov_type = {
    'State FIPS Code':str,
    'County FIPS Code':str
}
# poverty table has rows with empty values filled by '.'
df_pov = pd.read_csv(
    in_poverty,
    header=2,
    usecols=cols_pov_name.keys(),
    thousands=',',
    na_values='.',
    dtype=cols_pov_type
    )
df_pov.dropna(inplace=True)
df_pov.rename(columns=cols_pov_name,inplace=True)
df_pov = df_pov.astype({'poverty':int,'median_household_income':int})
df_pov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3194 entries, 0 to 3194
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state_id                 3194 non-null   object
 1   county_id                3194 non-null   object
 2   poverty                  3194 non-null   int64
 3   median_household_income  3194 non-null   int64
dtypes: int64(2), object(2)
memory usage: 124.8+ KB

#### merge into location df

In [20]:
df_pop_pov = pd.merge(df_pop,df_pov,how="inner",on=['state_id','county_id'])
df_pop_pov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3193 entries, 0 to 3192
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state_id                 3193 non-null   object
 1   county_id                3193 non-null   object
 2   population               3193 non-null   int64
 3   poverty                  3193 non-null   int64
 4   median_household_income  3193 non-null   int64
dtypes: int64(3), object(2)
memory usage: 149.7+ KB

In [21]:
df_loc_final = pd.merge(df_loc,df_pop_pov,how='left',on=['state_id','county_id']).sort_values(by=['state_id','county_id'])
# convert data types
cols_loc_final = {
    'state_id':'category',
    'county_id':'category',
}
df_loc_final = df_loc_final.astype(cols_loc_final)
df_loc_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1758 entries, 746 to 297
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   location_id              1758 non-null   category
 1   state_id                 1758 non-null   category
 2   county_id                1758 non-null   category
 3   county                   1704 non-null   category
 4   state                    1758 non-null   category
 5   population               1755 non-null   float64
 6   poverty                  1755 non-null   float64
 7   median_household_income  1755 non-null   float64
dtypes: category(5), float64(3)
memory usage: 202.9 KB

#### check data discrepency b/w the data sets

In [ ]:
print("df_pop_pov")
for col in df_pop_pov.columns:
    print('%s: %d' % (col,df_pop_pov[col].nunique()))

print("\ndf_loc")
for col in df_loc.columns:
    print('%s: %d' % (col,df_loc[col].nunique()))

# some states do not exist in the population and poverty dataset
set(df_loc.state_id.unique()) - set(df_pop_pov.state_id.unique())

### Data Output

In [ ]:
# export preprocessed data to csv
#my_df.to_csv(out_file,index=False)
#df_loc_final.to_csv("tbl/location.csv",index=False)
#df_outcome.to_csv("tbl/outcome.csv",index=False)
#df_demogr.to_csv("tbl/demography.csv",index=False)
#df_case.to_csv("tbl/case.csv",index=False)

### pandas to mysql

In [ ]:
import sqlalchemy as sql
import pymysql

# db connection profile
hostname="localhost"
port="3307" # default 3306, using 3307 for the db hosted in vm
dbname="covid-dw"
uname="root"
pwd="testpassmysql"

# create mysqlalchemy engine to connect to mysql db
engine = sql.create_engine(
    "mysql+pymysql://{user}:{pwd}@{host}:{port}/{db}".format(
        host=hostname,
        db=dbname,
        port=port,
        user=uname,
        pwd=pwd
    )
)

In [ ]:
# load the dimension tables
dbConn = engine.connect()
dbConn.execute("CALL sp_reset_dim_tbls")
df_loc_final.to_sql("location",dbConn,index=False,if_exists='append')
df_outcome.to_sql("outcome",dbConn,index=False,if_exists='append')
df_demogr.to_sql("demography",dbConn,index=False,if_exists='append')
dbConn.close()

In [ ]:
# load / update the case table
dbConn = engine.connect()
dbConn.execute("CALL sp_reset_case_tbl")
df_case.to_sql("case",dbConn,index=False, if_exists='append')
dbConn.close()